.count-box{
    position: relative;
    display: block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    margin-bottom: 15px;
    min-height: 140px;
    text-align: center;
    padding: 15px;
}
.count-box .count-box-title{
  font-size: 14px;
  margin-bottom: 14px;
  margin-top: 15px;
}

.small-box .count-box-amount{
  font-size: 24px;
  font-weight:bold;
}

.count-list{
  border-bottom: 1px solid #eee;
}

.count-list ul li{
  line-height: 1.4em;
  margin-bottom: 8px;
}

.count-list ul span{
  display: inline-block;
  margin-right: 5px;
  min-width: 150px;
  color: #777;
}

.count-list-unstyled{
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.count-comment{
  padding: 10px 0;
  border-bottom: 1px solid #eaeaea;
  width: 100%;
  overflow: hidden;
}

.count-comment .count-comment-avatar{
  float:left;
  width: 8%;
}

.count-comment .count-comment-avatar img{
  max-width: 100%;
  border-radius: 50%;
  -webkit-border-radius:50%;
  -moz-boder-radius:50%;
}

.count-comment .count-comment-comtent{
  float: left;
  width: 68%;
  padding: 0 2%;
}

.count-comment .count-comment-time{
  float:right;
  width: 20%;
}
.count-comment .count-comment-actions{
  margin-top: 10px;
}
.count-comment-actions-item{
  display: inline-block;
  margin-left: 5px;
}
