<layout-header></layout-header>
<div class="wrapper row-offcanvas row-offcanvas-left">
  <aside class="hidden-xs leftmenu sidebar-offcanvas">
    <layout-menu></layout-menu>
  </aside>
  <aside class="right-side">
      <section class="content">
          <div style="position:relative">
              <div style="width:100%" ng-view ng-animate="{enter: 'view-enter', leave: 'view-leave'}"></div>
          </div>
          <layout-footer id="footer"></layout-footer>
      </section>
  </aside>
</div>
